.nav-toggle {
    display: none; /* Hide toggle button by default */
    font-size: 24px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    #navMenu {
        display: none; 
        width: 100%; 
    }
    #navMenu ul {
        display: flex;
        flex-direction: column; 
        align-items: center; 
        padding: 0;
    }
    #navMenu ul li {
        margin: 10px 0; 
        
    }
    .nav-toggle {
        display: block; 
    }
}

/* social logo  */
@media (max-width: 768px) {
    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .socialContainer {
      margin-bottom: 10px;
    }
    
  }

  /* service */
  @media (max-width: 768px) {
    .container1 {
      flex-direction: column; /* Stack items vertically */
      align-items: center; /* Center items vertically */
    }
  
    .service {
      width: 90%; /* Adjust width to fit smaller screens */
    }
    .logo img{
      width: 90%;
    }
  }  

  /* resouces */
 /* CSS for desktop/tablet screens */
.page-section {
    text-align: center;
  }
  
  .resources {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .resource {
    width: calc(50% - 20px); /* Adjust width to fit two items per row with some spacing */
    margin: 10px; /* Add spacing between items */
  }
  
  /* Media query for mobile screens */
  @media (max-width: 768px) {
    .resource {
      width: calc(100% - 20px); /* Adjust width to fill the full width of the screen */
    }
  }
  

  /* portfolio */
/* CSS for desktop/tablet screens */
.page-section {
    text-align: center;
  }
  
  .container {
    max-width: 1200px; /* Adjust as needed */
    margin: 0 auto; /* Center the container horizontally */
  }
  
  .portfolio-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    width: calc(50% - 20px); /* Adjust width to fit two items per row with some spacing */
    margin: 10px; /* Add spacing between items */
  }
  
  /* Media query for mobile screens */
  @media (max-width: 768px) {
    .card {
      width: calc(100% - 20px); /* Adjust width to fill the full width of the screen */
      height: auto;
    }
    
    }
  
  