.nav-toggle {
    display: none; /* Hide toggle button by default */
    font-size: 24px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    #navMenu {
        display: none; 
        width: 100%; 
    }
    #navMenu ul {
        display: flex;
        flex-direction: column; 
        align-items: center; 
        padding: 0;
    }
    #navMenu ul li {
        margin: 10px 0; 
        
    }
    .nav-toggle {
        display: block; 
    }
}
