
        /* General styles */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            
        }
        html{
         
          scroll-behavior: smooth;
        }
        #header {
            position: fixed;
            top: 0;
            left: 0;
            
            width: 98%;
            background-color: rgb(64, 66, 64); 
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
            z-index: 1000; 
            transition: top 0.3s; 
            padding: 10px 20px;
           
            
        }
        .select{
         display: flex;
          

        }
        
        /* .main1{
          margin-top: 300px;
        } */
        .select img{
          border-radius: 50%;
          width: 700px;
          height: 500px;
        }
        
        .contain {
            max-width: 1200px;
            margin: 0 auto;
            padding: 10px 20px; 
            display: flex;
            justify-content: space-between;
            align-items: center;

        }
        
        .logo {
            flex: 0 0 auto; 
             
        }
        
        .logo img {
            max-width: 200px; 
            height: auto;
           display: block;
    
        }
        /* logo hover */
        .logo img:hover{
          border: solid black;
          transition: border 0.1s ease;
        }
        
        
        #navMenu {
            flex: 1; 
            text-align: right; 
            
        }
        
        #navMenu ul {
            list-style-type: none;
            margin: 0; 
            padding: 0;
        }
        
        #navMenu ul li {
             display: inline-block;
            margin-left: 20px; 
            
        }
        
        #navMenu ul li:first-child {
            margin-left: 0;
        }
        
        #navMenu ul li a :hover{
            text-decoration: aqua;
            
        }
        
        
        main {
            margin-top: 70px; 
        }
        

        /* Responsive styles */
        @media screen and (max-width: 600px) {
            nav ul li {
                display: block;
                margin-bottom: 10px;
            }
            nav ul li ul {
                position: static;
                display: none;
                margin-left: 20px;
            }
            nav ul li ul li {
                display: block;
                margin-bottom: 5px;
            }
            nav ul li:hover ul {
                display: block;
            }
            .logo img{
              display: block;
            }
        }
  /* Home section styles */
#home {
    background-color: #f7f7f7;
    padding: 100px 0;
    text-align: center;
}

#home h1 {
    font-size: 3em;
    color: #333;
    margin-bottom: 20px;
}

#home p {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 40px;
}

 

/* button */
button {
    text-decoration: none;
    position: relative;
    border: none;
    font-size: 14px;
    font-family: inherit;
    cursor: pointer;
    color: #fff;
    width: 9em;
    height: 3em;
    line-height: 2em;
    text-align: center;
    background: linear-gradient(90deg, #92cde9, #e980bc, #ddd695, #88c7e4);
    background-size: 300%;
    border-radius: 30px;
    z-index: 1;
  }
  
  button:hover {
    animation: ani 8s linear infinite;
    border: none;
  }
  
  @keyframes ani {
    0% {
      background-position: 0%;
    }
  
    100% {
      background-position: 400%;
    }
  }
  
  button:before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #0beca9, #ebae08, #f0e9ad, #abd2e4);
    background-size: 400%;
    border-radius: 35px;
    transition: 1s;
  }
  
  button:hover::before {
    filter: blur(20px);
  }
  
  button:active {
    background: linear-gradient(32deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  }
  
/* a hover */

.nav-toggle {
    text-decoration: none;
    position: relative;
    border: none;
    font-size: 4px;
    font-family: inherit;
    cursor: pointer;
    color: #fff;
    width: 3em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    background: linear-gradient(90deg, #92cde9, #e980bc, #ddd695, #88c7e4);
    background-size: 300%;
    border-radius: 30px;
    z-index: 1;
  }
  
  .nav-toggle:hover {
    animation: ani 8s linear infinite;
    border: none;
  }
  
  @keyframes ani {
    0% {
      background-position: 0%;
    }
  
    100% {
      background-position: 400%;
    }
  }
  
  .nav-toggle:before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #0beca9, #ebae08, #f0e9ad, #abd2e4);
    background-size: 400%;
    border-radius: 35px;
    transition: 1s;
  }
  
  .nav-toggle:hover::before {
    filter: blur(20px);
  }
  
  .nav-toggle:active {
    background: linear-gradient(32deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  }
/* Service page styles */
#services {
    background-color: #f9f9f9;
    padding: 100px 0;
    text-align: center;
}

.service {
    margin-bottom: 40px;
}

.service img {
    width: 100%;
    max-width: 300px;
    border-radius: 50%;
}

.service h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.5em;
}

.service p {
    margin-bottom: 20px;
}



.service .btn {

    background-color: #13ebce;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    text-decoration: none;
    transition: background-color 0.3s ease;
    display: inline-block;
}

.service .btn:hover {
    background-color: #23e976;
}

/* Portfolio section styles */
#portfolio {
    background-color: #f9f9f9;
    padding: 100px 0;
    text-align: center;
}

.portfolio-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio-item {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.portfolio-item img {
    width: 100%;
    border-radius: 5px;
}

.portfolio-item h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.5em;
}

.portfolio-item p {
    margin-bottom: 20px;
}

.portfolio-item.card.btn {
    background-color: #0de7b8;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.portfolio-item.card.btn:hover {
    background-color: #0aec96;
}

/* Company section styles */
#company {
    background-color: #f9f9f9;
    padding: 100px 0;
    text-align: center;
}

#company h1 {
    margin-bottom: 30px;
}

#company p {
    margin-bottom: 40px;
}

#company h2 {
    margin-bottom: 20px;
}

#company ul {
    list-style-type: none;
    padding: 0;
}

#company ul li {
    margin-bottom: 10px;
}

.team-members {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.team-member {
    margin: 20px;
}

.team-member img {
    width: 200px;
    border-radius: 50%;
}

.team-member h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.team-member p {
    color: #666;
}

/* Resources section styles */
#resources {
    background-color: #f9f9f9;
    padding: 100px 0;
    text-align: center;
}

#resources h1 {
    margin-bottom: 30px;
}

.resource {
    margin-bottom: 40px;
}

.resource h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.resource p {
    margin-bottom: 20px;
}

.resource .btn {
    background-color: #16dfad;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.resource .btn:hover {
    background-color: #0fe762;
}

/* Contact section styles */
#contact {
    background-color: #f9f9f9;
    padding: 100px 0;
    text-align: center;
}

#contact h1 {
    margin-bottom: 30px;
}

#contact p {
    margin-bottom: 40px;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
}

.form-group textarea {
    resize: vertical;
}

.btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
} 

   

/* project page */
#projects {
    background-color: #f5f5f5; /* Light grey background */
    padding: 40px 0;
    margin-top: 180px;
}

#projects .container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    
}

#projects h2 {
    text-align: center;
    margin-bottom: 40px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.project-item {
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.project-item img {
    width: 100%;
    height: auto;
    display: block;
}

.project-item h3 {
    margin: 16px; /* Adjust based on your design */
}

.project-item p {
    padding: 0 16px 16px;
    margin: 0;
    font-size: 14px;
}

.project-item:hover {
    transform: translateY(-10px);
}

@media (max-width: 768px) {
    .project-grid {
        grid-template-columns: 1fr;
    }
}
/* project page end here */

/* Footer styles */
footer {
    background-color: rgb(59, 55, 55);
    color: #fff;
    padding: 30px 0;
    
}

.container1 {
    width: 80%;
    margin: 0 auto;
    display: flex;
    text-align: center;
    
   
    
}
.container {
    width: 80%;
    margin: 0 auto;
    
  
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    display: inline-block;
    text-decoration: none;
  
}

nav ul li a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #050505; /* Border color */
  transition: width 0.3s ease-in-out; /* Transition for smooth effect */
}
nav ul li a:hover::after {
  width: 100%; /* Full width on hover */
}

nav ul li a:hover {
    color: rgb(16, 17, 17);
}

.footer-content {
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
}

.logo1 img {
    width: 200px;
     
}

.social-icons a {
    color: #fff;
    margin-right: 10px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #c1df58;
}

.footer-bottom {
    margin-top: 20px;
    text-align: center;
}

/* socail logo style */
.footerCard {
    width: fit-content;
    height: fit-content;
    background-color: rgb(238, 238, 238);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    gap: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
    background: transparent;
    
    
  }
  
  /* for all social containers*/
  .socialContainer {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
  }
  /* instagram*/
  .containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
  }
  /* twitter*/
  .containerTwo:hover {
    background-color: #00acee;
    transition-duration: .3s;
  }
  /* linkdin*/
  .containerThree:hover {
    background-color: #0072b1;
    transition-duration: .3s;
  }
  /* Whatsapp*/
  .containerFour:hover {
    background-color: #128C7E;
    transition-duration: .3s;
  }
  
  .socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
  }
  
  .socialSvg {
    width: 17px;
  }
  
  .socialSvg path {
    fill: rgb(255, 255, 255);
  }
  
  .socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  /* card style */
  
  .card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px; /* Adjust as needed */
  }
  .card h2 {
    font-size: 1.5rem;
    margin-bottom: 5px; /* Adjust as needed */
  }
  .card a{ 
   
    text-decoration: none;
  }
  .card {
    display: block;
    position: relative;
    max-width: 300px;
    max-height: 450px;
    background-color: #f2f8f9;
    border-radius: 10px;
    padding: 2em 1.2em;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    background: linear-gradient(to bottom, #c3e6ec, #a7d1d9);
    font-family: Arial, Helvetica, sans-serif;
    
    
  }
  .card p {
    font-size: 1rem;
    margin-bottom: 10px; /* Adjust as needed */
  }
  .card.btn {
    background-color: #0de7b8;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
  
  .card:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: linear-gradient(135deg, #a6b5c5, #b4ebd1);
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.35s ease-out;
  }
  
  .card:hover:before {
    transform: scale(28);
  }
  
  .card:hover .small-desc {
    transition: all 0.5s ease-out;
    color: rgba(255, 255, 255, 0.8);
  }
  
  .card:hover .card-title {
    transition: all 0.5s ease-out;
    color: #ffffff;
  }
  
  
.cards {
    perspective: 500px;
  }
  
  .card {
    width: 200px;
    height: 370px;
    background: #e2eaec;
    border: 2px solid #e2eaec;
    border-radius: 4px;
    position: relative;
    transform-style: preserve-3d;
    will-change: transform;
    transition: transform .5s;
  }
  
  .card:hover {
    transform: translateZ(10px) rotateX(20deg) rotateY(20deg);
  }
  
  .card_title {
    color: #fff;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    transition: transform .5s;
    font: 700 1.5rem monospace;
    text-shadow: -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
  }
  
  .card:hover .card_title {
    transform: translateZ(50px);
  }

  /* resources */
  .resources {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
   
    justify-content:space-evenly;
  }
  
  .resource {
    width: 200px;
    height: 200px;
    background: #bee7ce;
    border: 2px solid #93ecc7;
    border-radius: 4px;
    position: relative;
    transform-style: preserve-3d;
    will-change: transform;
    transition: transform .5s;
  }
  
   .resource:hover {
    transform: translateZ(10px) rotateX(20deg) rotateY(20deg);
  } 
  
  
 /* footer
  */
  .footer-content {
    background-color: #302e2e;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #f8f8f8;
}

.footer-content .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    max-width: 1000px;
    margin: auto;
}

.footer-content .logo,
.footer-content .address-section,
.footer-content .footercard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-content .logo a {
    display: inline-block;
    margin-bottom: 15px;
}

.footer-content .logo img {
    max-width: 100%;
    height: auto;
}

.footer-content .logo p,
.footer-content .address-section p {
    margin: 5px 0;
    line-height: 1.6;
}

.footer-content .address-section a {
    display: inline-block;
    margin-bottom: 10px;
}

.footer-content .address-section img {
    max-width: 50px;
    height: auto;
}

.footer-content .address-section h1 {
    font-size: 18px;
    margin: 0;
}

.footer-content .footercard a {
    display: inline-block;
    margin: 10px 0;
}

.footer-content .footercard img {
    max-width: 30px;
    height: auto;
}

.footer-content .footercard a svg {
    width: 30px;
    height: 30px;
}

@media (max-width: 768px) {
    .footer-content .grid-container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .footer-content .logo,
    .footer-content .address-section,
    .footer-content .footercard {
        align-items: center;
    }

    .footer-content .address-section h1 {
        font-size: 16px;
    }
}